# Time aggregation

In [1]:
import pandas as pd
from vega_datasets import local_data

In [2]:
seattle = local_data.seattle_weather()
seattle.head()

        date  precipitation  temp_max  temp_min  wind  weather
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle
1 2012-01-02           10.9      10.6       2.8   4.5     rain
2 2012-01-03            0.8      11.7       7.2   2.3     rain
3 2012-01-04           20.3      12.2       5.6   4.7     rain
4 2012-01-05            1.3       8.9       2.8   6.1     rain

In [5]:
seattle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   datetime64[ns]
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 68.6+ KB

In [4]:
# to display the month only from the date column
seattle['date'].dt.month

0        1
1        1
2        1
3        1
4        1
        ..
1456    12
1457    12
1458    12
1459    12
1460    12
Name: date, Length: 1461, dtype: int64

In [8]:
seattle['month_name'] = seattle['date'].dt.month_name()
seattle.head()

        date  precipitation  temp_max  temp_min  wind  weather month_name
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle    January
1 2012-01-02           10.9      10.6       2.8   4.5     rain    January
2 2012-01-03            0.8      11.7       7.2   2.3     rain    January
3 2012-01-04           20.3      12.2       5.6   4.7     rain    January
4 2012-01-05            1.3       8.9       2.8   6.1     rain    January